{% extends 'base.html' %}

{% block content %}


<div class="row" style="width: 95%; margin-left: 0; margin-right: 0;">

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5 ">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-info">Profile</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <img src="{{emp.imageURL}}" width="100%" alt="">
                <!-- Divider -->
                <hr class="sidebar-divider">
                <div class="btn-group" style="width: 100%;" role="group" aria-label="Basic mixed styles example">
                    <a href="{% url 'update' emp.id %}" class="btn btn-info btn-sm ">Edit</a>
                    <a href="{% url 'delete' emp.id %}" class="btn btn-danger btn-sm ">Delete</a>
                </div>

            </div>
        </div>
    </div>

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-info">Overview</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body text-center">
                <p style="font-size: xx-large; ">{{emp.name}}</p>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <p>Address : {{emp.address}}</p>
                <p>Age :{{emp.age}}</p>
                <p>Department :{{emp.department}}</p>
                <p>Salary :{{emp.salary}}</p>
                <p>Status :{{emp.status}}</p>
                <p>Start Date :{{emp.emp_start_date}}</p>
                <p>End Date :{{emp.emp_end_date}}</p>
                <a href="{% url 'addexp' emp.id %}" class="btn btn-info btn-sm ">Add experience</a>

                <center>
                <table class="text-center">
                    <tr>
                        <th>Domain</th>
                        <th>Years of experience</th>
                        <th>Description
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>


                    {% for exp in exp_list %}

                    <tr>
                        <td>{{exp.domain}}</td>
                        <td>{{exp.years_of_expre}}</td>
                        <td>{{exp.description}}</td>
                        <td><a href="{% url 'update-exp' exp.id %}" class="btn btn-outline-info btn-sm ">Edit</a></td>
                        <td><a href="{% url 'delete-exp' exp.id %}" class="btn btn-outline-danger btn-sm ">Delete</a>
                        <td><a href="{% url 'display-exp' exp.id %}" class="btn btn-outline-warning btn-sm ">View</a></td>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </center>
            </div>
        </div>
    </div>


</div>


{% endblock content %}