<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>home</h2>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Submit">
    </form>


        {% for emp in employees %}
            
            <img src="{{emp.photo.url}}"  width="10%" alt="">
            <p>{{emp.name}}</p>
            <p>{{emp.address}}</p>
            <p>{{emp.emp_start_date}}</p>
            <p>{{emp.emp_end_date}}</p>
            <p>{{emp.status}}</p>
            <a href="{% url 'details' emp.id %}" class="btn btn-outline-success btn-sm">view</a>
        {% endfor %}

</body>
</html>